<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" 
      (click)="menuDisplayed = !menuDisplayed">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu"
      [class.is-active]="menuDisplayed">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <ng-container>


        </ng-container>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <ng-container *ngIf="authUser$ | async as authUser; else unsignedIn" >
              {{authUser.id}}
          </ng-container>
          <ng-template #unsignedIn>
            <div class="buttons">
              <a class="button is-primary" [routerLink]="['/signin']">
                <strong>Sign in</strong>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>