<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <article class="card is-rounded">
          <div class="card-content">
            <form (ngSubmit)="signin()">
              <p class="control has-icon">
                <input class="input" type="email" placeholder="Email">
                <i class="fa fa-envelope"></i>
              </p>
              <p class="control has-icon">
                <input class="input" type="password" placeholder="Password">
                <i class="fa fa-lock"></i>
              </p>
              <p class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </p>
              <p class="control">
                <button class="button is-primary is-medium is-fullwidth">
                  <i class="fa fa-user"></i>
                  Login
                </button>
              </p>
              <p>
                <a [routerLink]="['/signup']">or sign me up</a>
              </p>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>